# postgres
POSTGRES_DB=rss_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=db_password.txt
POSTGRES_VOLUME=./data/postgres

# rabbitmq
RABBITMQ_DEFAULT_VHOST="/"
RABBITMQ_DEFAULT_USER="guest"
RABBITMQ_DEFAULT_PASS="guest"

# uv
UV_CACHE_DIR=/home/username/.cache/uv

# user
UID=1000
GID=1000

UV_BUILD_ARG=--no-dev

# django
DJANGO_SETTINGS_MODULE=django_rss_reader.settings
DEBUG=False
# path to file with django secret key
SECRET_KEY=django_secret_key.txt
