# postgres
POSTGRES_DB=rss_db
POSTGRES_USER=postgres
POSTGRES_VOLUME=./data/postgres

# rabbitmq
RABBITMQ_DEFAULT_VHOST="/"
RABBITMQ_DEFAULT_USER="guest"
RABBITMQ_DEFAULT_PASS="guest"

# uv
UV_CACHE_DIR=/home/username/.cache/uv
UV_BUILD_ARG=--no-dev

# user
UID=1000
GID=1000

# data volume folder - for media and static files
DATA_VOLUME=./data/

# django
DJANGO_SETTINGS_MODULE=django_rss_reader.settings
DEBUG=False
