{% load static %}

<dialog open>
    <div>

        <div id="add_feed_form">
            {% include "rss_reader/add_feed_form.html" %}
        </div>

        <form enctype="multipart/form-data"
              hx-post="{% url "rss_reader:import_feeds" %}"
              hx-swap="outerHTML"
              hx-target="#feeds_list"
        >
            {% csrf_token %}
            {{ file_import_form }}
            <input type="submit" value="Import feeds from OPML file">

            <div class="htmx-indicator">
                <img src="{% static 'images/bars.svg' %}" alt="loading" style="width: 1rem">
            </div>
        </form>

        <form method="dialog">
            <button class="btn danger">Close</button>
        </form>
    </div>
</dialog>
