{% load static %}

<form hx-post="{% url 'rss_reader:feed' %}" hx-swap="outerHTML">
    {% csrf_token %}

    <label for="rss_url">New feed: </label>
    <input id="rss_url" type="text" name="url" placeholder="insert URL" autofocus
        {% if url %} value="{{ url }}" {% endif %} />

    {% if error_message %}
        <div style="color: red; max-width: 400px">{{ error_message }}</div>
    {% endif %}

    <button type="submit">Add new feed</button>

    <div class="htmx-indicator">
        <img src="{% static 'images/bars.svg' %}" alt="loading" style="width: 1rem">
    </div>

</form>
