<div id="content">
    <div class="main">
        <div class="content">
            {% if entry %}
                <h1>{{ entry.title }}</h1>

                {% if entry.author %}
                <br>
                Author: {{ entry.author }} at {{ entry.feed.title }}
                {% endif %}
                <br>
                RSS link: <a href="{{ entry.feed.rss_url }}">{{ entry.feed.rss_url }}</a>
                <br>
                <br>
                Link to article: <a href="{{ entry.link }}" target="_blank" rel="noopener noreferrer">{{ entry.link }}</a>
                <br>
                {% if entry.published %}
                    <em>Published at: {{ entry.published | date:"Y m d H:i" }}</em>
                {% endif %}
                {% if need_summary %}
                    <hr>
                    <span>{{ entry.summary | safe }}</span>
                {% endif %}
                <hr>

                {{ entry.content | safe }}
                <br>
            {% else %}
                <h2>Add some subscriptions to see content here</h2>
            {% endif %}
        </div>
    </div>
</div>
