{% load static %}

<div class="sidebar_header">
    <div id="search_entries_form">
        {% include "rss_reader/search_entries_form.html" %}
    </div>
    <div class="sidebar_buttons">
        {% if active_feed %}
            <div hx-get="{% url "rss_reader:mark_entries_as_read" user_feed_id=active_feed.id %}"
                 hx-swap="innerHTML"
                 hx-target="#entries_list"
                 hx-disabled-elt="this"
                 class="image_button">
                <img src="{% static 'images/mark_green.png' %}" alt="mark all entries as read" style="width: 1rem">
            </div>
        {% endif %}
    </div>
</div>