<div id="content">
    <div class="main">
        <div class="content">
            {% if entry %}
                <h1>{{ entry.title }}</h1>

{#                TODO: автор? название канала? #}
                <br>
                Link to article: <a href="{{ entry.link }}" target="_blank" rel="noopener noreferrer">{{ entry.link }}</a>
                <br>
{#                # TODO: опубликовано столько-то часов назад? #}
{#                # TODO: как долго читать статью? #}
                {% if entry.published %}
                    <em>Published at: {{ entry.published | date:"Y m d H:i" }}</em>
                {% endif %}
                {% if entry.summary and entry.summary != entry.content %}
                    <hr>
                    {# TODO: может проверять это во вьюшке?#}
                    <span>{{ entry.summary | safe }}</span>
                {% endif %}
                <hr>

{#                # TODO: как работает кэширование в браузере?#}
{#                TODO: текст как будто может вылезти за пределы своей зоны, нужно проверить #}
                {{ entry.content | safe }}
                <br>
            {% else %}
                <h2>Add some subscriptions to see content here</h2>
            {% endif %}
        </div>
    </div>
</div>
