{% load static %}

<div id="body" hx-swap-oob="beforeend">
<dialog open class="center" id="error_message_dialog">
    <div>

        <h2 style="color: red;">Error</h2>
        <div style="max-width: 400px">{{ error_message | safe}}</div>

        <form method="dialog">
            <button class="btn danger">Close</button>
        </form>

        <script>
            var dialog = document.getElementById('error_message_dialog');

            {# TODO: оно срабатывает при открытии окна каждый раз и добавляет новый listener - переделать так чтобы оно работало только один раз #}
            {# TODO: и остальные похожие места тоже переделать#}
            // Event listener for the Escape key
            document.addEventListener('keydown', (event) => {
                if (event.key === 'Escape' && dialog.open) {
                    dialog.close();
                }
            });
        </script>
    </div>
</dialog>
</div>