{% load static %}
<div class="feed {% if user_feed == active_feed %}feed_active{% endif %}"
     id="user-feed-{{ user_feed.pk }}"
     hx-get="{% url "rss_reader:entries" user_feed.pk %}"
     hx-swap="innerHTML scroll:.entries:top"
     hx-target="#entries_list"

>
    {% if user_feed.feed.image_url %}
        <div style="flex: 10%;">
            <img style="width: 1.5rem" src="{{ user_feed.feed.image_url }}">
        </div>
    {% endif %}

    <div class="feed_title">
        {{ user_feed.feed.title }}
    </div>
    {% if user_feed.unread_count %}
        <div class="feed_unread_count">
            <b>{{ user_feed.unread_count }}</b>
        </div>
    {% endif %}

</div>
