{% load static %}
<div class="feed {% if is_active %}feed_active{% endif %}" id="user-feed-{{ user_feed.pk }}" >
    <a href=""
       hx-get="{% url "rss_reader:entries" user_feed.pk %}"
       hx-swap="innerHTML scroll:.entries:top"
       hx-target="#entries_list"
    >{{ user_feed.feed.title }}<div class="circle-number">{{ user_feed.unread_count }}</div></a>

    <div
       hx-delete="{% url "rss_reader:feed" user_feed.pk %}"
       hx-swap="outerHTML swap:500ms"
       hx-target="#user-feed-{{ user_feed.pk }}"
       style="width: 1rem; cursor: pointer;"
    >
        <img src="{% static 'images/delete.png' %}" alt="loading" style="width: 1rem">
        <div class="htmx-indicator">
            <img src="{% static 'images/bars.svg' %}" alt="loading" style="width: 1rem">
        </div>
    </div>

</div>
