{% extends 'base.html' %}

{% load static %}
{% block content %}

    {# TODO: logout, profile page#}
    <div class="sidenav">
        <div class="feeds">
            <div style="padding: 20px;">
                <h2>Blogs</h2>
                <div id="add_feed_form">
                    {% include "rss_reader/add_feed_form.html" %}
                </div>
                <br>

                <form enctype="multipart/form-data"
                      hx-post="{% url "rss_reader:import_feeds" %}"
                      hx-swap="outerHTML"
                      hx-target="#feeds_list">
                    {% csrf_token %}
                    {{ file_import_form }}
                    <input type="submit" value="Import feeds from OPML file">

                    <div class="htmx-indicator">
                        <img src="{% static 'images/bars.svg' %}" alt="loading" style="width: 1rem">
                    </div>

                </form>

                <hr>

                <div id="feeds_list">
                    {% include "rss_reader/feeds.html" %}
                </div>
            </div>
        </div>
        <div class="entries">
            <div style="padding: 20px;">
                <h2>Entries</h2>
                <div id="entries_list">
                    {% include "rss_reader/entries.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="content">
            {% include "rss_reader/entry_content.html" %}
        </div>
    </div>

{% endblock content %}
