{% extends 'base.html' %}

{# TODO: а еще добавить возможность перемещаться между фидами и записями при помощи клавиатуры #}
{% load static %}
{% block content %}

    <div class="header">
        <div style="width: 36%; display: flex;">
            <div style="flex: 40%; border-right: 1px #ffffff solid;">
                {% include "rss_reader/feeds_header.html" %}
            </div>
            <div style="flex: 60%;">
                <div id="entries_header">
                    {% include "rss_reader/entries_header.html#entries_header_partial" %}
                </div>
            </div>
        </div>

        <div style="width: 64%; display: flex; ">
            <div style="border-left: 1px #ffffff solid; flex: 100%;">
                {% include "rss_reader/entry_content_header.html#entry_content_header_partial" %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            {% include "rss_reader/feeds_sidebar.html" %}
            {% include "rss_reader/entries_sidebar.html" %}
        </div>
        <div class="main-content">
            {% include "rss_reader/entry_content.html#entry_content_partial" %}
        </div>
    </div>

{% endblock content %}
