{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{
        "responseHandling": [
            {"code":"422", "swap": true, "error": false},
            {"code":"204", "swap": false},
            {"code":"[23]..", "swap": true},
            {"code":"[45]..", "swap": false, "error": true},
            {"code":"...", "swap": false}]
    }'>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_tags_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/htmx_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/feeds_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/entries_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/entry_content_styles.css' %}">
    {% endblock styles %}

    {% htmx_script %}
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        {% if debug %}
            document.addEventListener('htmx:afterSettle', function (event) {
                if (
                    typeof window.djdt !== "undefined"
                    && event.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        {% endif %}
    </script>

    <title>{% block title %}Django rss reader{% endblock %}</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="body">

<dialog class="center" id="global_error_message">
    <div>
        <h2 style="color: red;">Error</h2>
        <div style="max-width: 400px" id="global_error_message_text"></div>

        <form method="dialog">
            <button class="btn danger">Close</button>
        </form>

        <script>
            close_dialog_on_esc(document.getElementById('global_error_message'));
        </script>
    </div>
</dialog>

{% block content %}

{% endblock content %}

</body>
</html>
