{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_tags_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/htmx_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/feeds_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/entries_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/entry_content_styles.css' %}">
    {% endblock styles %}

    {% htmx_script %}
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        {% if debug %}
            document.addEventListener('htmx:afterSettle', function(event) {
                if (
                    typeof window.djdt !== "undefined"
                    && event.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        {% endif %}
    </script>

    <title>{% block title %}Django rss reader{% endblock %}</title>
</head>
{# TODO: использовать hx-target-error, чтобы показывать ошибку если сервер упал #}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="body">

{% block content %}

{% endblock content %}

</body>
</html>
