.entries_main {
    padding: 20px;
}

.entries {
    flex: 60%;
    overflow-y: scroll;
    height: 100%;
    margin: auto;
    text-align: left;
    color: white;
    background-color: #404040;
    overscroll-behavior: contain;
}

.entry {
    color: #cccccc;
    cursor: pointer;
}

.entry_active {
    color: white;
    background: #007bff;
}

.entry_unread {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.entry_published {
    text-align: right;
    font-size: small;
}
