body {
    background-color: #eeeeee;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.sidenav_top_part {
    height: 55px;
}

.sidenav_header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 15px;
}

.sidenav_buttons {
    display: flex;
    gap: 0.7rem;
}

.image_button {
    width: 1rem;
    cursor: pointer;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 36%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    color: #ffffff;
    display: flex;
}

.sidenav a {
    color: #ffffff;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f1ef;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.3em 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*HTMX*/
.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}

.feed.htmx-swapping {
    opacity: 0;
    transition: opacity 500ms ease-in;
}