body {
    background-color: #eeeeee;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 36%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    color: #ffffff;
    display: flex;
}

.sidenav a {
    color: #ffffff;
}

.feeds {
    overflow-x: hidden; /* Disable horizontal scroll */
    flex: 40%;
    color: white;
    overflow-y: scroll;
    height: 100%;
    margin: auto;
    text-align: left;
    background-color: #222;
    overscroll-behavior: contain;
}

.feed {
    display: flex;
    gap: 0.3rem;
}

.entries {
    flex: 60%;
    color: white;
    overflow-y: scroll;
    height: 100%;
    margin: auto;
    text-align: left;
    background-color: #444;
    overscroll-behavior: contain;
}

.entry {
    color: gray;
}

.entry a {
    color: gray;
}

.entry_unread {
    color: white;
    font-weight: bold;
}

/* Style page content */
.main {
    margin-left: 36%;
    padding: 20px;
}

.content {
    max-width: 800px;
    text-wrap: balance;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    font-family: verdana, arial, helvetica, sans-serif;
    background: #ffffff;
}

/* оно выглядит не очень */
.circle-number {
    border-radius: 50%; /* Makes the element perfectly round */
    width: 2rem; /* Set a fixed width */
    height: 2rem; /* Set a fixed height, equal to width for a perfect circle */
    display: flex; /* Use flexbox for easy centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 2px solid #007bff; /* Add a border */
    background-color: #f0f8ff; /* Optional background color */
    color: #007bff; /* Text color */
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f1ef;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.3em 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*HTMX*/
.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}

.feed.htmx-swapping {
    opacity: 0;
    transition: opacity 500ms ease-in;
}